.container {
  max-width: 44rem;
  padding: 0 1rem;
  margin: 0rem auto 6rem;
}

/* .header {
  display: flex;
  flex-direction: row;
  align-items: center;
  float: left;
  /* padding: 2rem; */
/* } */

.header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 1em 0;
  align-items: center;
}

.headerImage {
  width: 6rem;
  height: 6rem;
}

.nav {
  margin-right: 0.5rem;
}

.backToHome {
  margin: 3rem 0 0;
}

/* .nav {
  justify-items: right;
} */
