{% extends "base.html" %}

{% block content %}
<h1 class="title">
  {{ config.extra.project_page_title }}
</h1>
<ul>
  {% for page in config.extra.project_sites %}
    <li>
        <!-- <div class="container" style="display: flex;"> -->
            <h3>{{ page.project_title }}</h3>
                {% if page.site_url != "" %}
                <a href={{page.site_url}}>website</a> |
                {% endif %} 
                <a href={{page.github_url}}>github</a>
        </p>
    </li>
  {% endfor %}
</ul>
{% endblock content %}